<!-- app/views/employees/show.html.erb -->

<h1>Employee Details</h1>

<div>
  <p><strong>Name:</strong> <%= @employee.employee_name %></p>
  <p><strong>Job Title:</strong> <%= @employee.job_title %></p>
  <p><strong>Job Code:</strong> <%= @employee.job_code %></p>
  <p><strong>Current Location:</strong> <%= @employee.current_location.name %></p>
  <p><strong>Desired Location:</strong> <%= @employee.desired_location.name %></p>
  <p><strong>Seniority:</strong> <%= @employee.seniority %></p>
</div>

<%= link_to 'Back', employee_match_path %>
