<%= form_for :employee, url: add_employee_path do |form| %>

  <div class="mb-3">
    <%= form.label :employee_name, class: "form-label" %>
    <%= form.text_field :employee_name, class: "form-control", placeholder: "Employee Name" %>
  </div>

  

  <div class="mb-3">
    <%= form.label :job_title, class: "form-label" %>
    <%= form.text_field :job_title, class: "form-control", placeholder: "Job Title" %>
  </div>

  <div class="mb-3">
    <%= form.label :job_code, class: "form-label" %>
    <%= form.text_field :job_code, class: "form-control", placeholder: "Job Code" %>
  </div>


  <div class="mb-3">
    <%= form.label :current_location_id, "Current Location", class: "form-label" %>
    <%= form.collection_select :current_location_id, Location.where(company_id: Current.user.company_id), :id, :name, {}, { class: "form-control", id: "current-location-select" } %>
  </div>

  <div class="mb-3">
    <%= form.label :desired_location_id, "Desired Location", class: "form-label" %>
    <%= form.collection_select :desired_location_id, Location.where(company_id: Current.user.company_id), :id, :name, {}, { class: "form-control", id: "desired-location-select" } %>
  </div>

  <div class="mb-3">
    <%= form.label :seniority, class: "form-label" %>
    <%= form.select :seniority, (1..50), {}, class: "form-select" %>
  </div> 

  <div class="mb-3">
    <%= form.submit "Enroll New Employee", class: "btn btn-primary" %>
  </div>

<% end %>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    const currentLocationSelect = document.getElementById('current-location-select');
    const desiredLocationSelect = document.getElementById('desired-location-select');

    currentLocationSelect.addEventListener('change', function() {
      const selectedValue = this.value;
      Array.from(desiredLocationSelect.options).forEach(function(option) {
        option.disabled = option.value === selectedValue;
      });
    });

    desiredLocationSelect.addEventListener('change', function() {
      const selectedValue = this.value;
      Array.from(currentLocationSelect.options).forEach(function(option) {
        option.disabled = option.value === selectedValue;
      });
    });
  });
</script>
